<html>

<form action="/red" method="POST">
    <input style="background-color: red;" name="Submit" type="Submit" value="Red">
</form>

<form action="/grey" method="POST">
    <input style="background-color: grey;" name="Submit" type="Submit" value="Grey">
</form>

<form action="/blue" method="POST">
    <input style="background-color: blue;" name="Submit" type="Submit" value="Blue">
</form>

<form action="/yellow" method="POST">
    <input style="background-color: yellow;" name="Submit" type="Submit" value="Yellow">
</form>

</html>